{:mba-fiap.datasource.postgres/db
 {:spec {:dbtype "postgresql"
         :classname "org.postgresql.Driver"
         :auto-commit true
         :read-only false
         :subprotocol "postgresql"
         :user #or [#env POSTGRES_USER "postgres"]
         :password #or [#env POSTGRES_PASSWORD "password"]
         :host #or [#env POSTGRES_HOST "localhost"]
         :port #profile {:default #or [#env POSTGRES_PORT 5400]}}}

 :mba-fiap.adapter.nats/nats {:app-name "preparo-service"
                              :url "nats://localhost:4222"
                              :subjects-handlers {"pedido-pago" #ig/ref :mba-fiap.adapter.message.consumer/process-pedido-pago}}

 :mba-fiap.datasource.migratus/migratus
 {:store :database
  :migration-dir "migrations/"
  :init-in-transaction? false
  :migration-table-name "app_migrations"
  :db {:datasource #ig/ref :mba-fiap.datasource.postgres/db}}

 :mba-fiap.adapter.http.server/server
 {:env #profile {:default :dev
                 :test :test
                 :prod :prod}
  :port #long #profile {:default #or [#env HTTP_PORT 8080]}
  :join? #profile {:default true
                   :dev false}

  :app-context {:migrations #ig/ref :mba-fiap.datasource.migratus/migratus
                :nats-client #ig/ref :mba-fiap.adapter.nats/nats}}}
